
@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

<p>Produtos da loja Fiap</p>

<form method="post" action="produto/cadastrar">
  <fieldset>
    <legend>Produtos</legend>
    <p>
      <label>Nome</label>
      <input type="text" name="nome" placeholder="Nome" />
    </p>
    <p>
      <label>Preço</label>
      <input type="text" name="preco" placeholder="Preço" />
    </p>
    <button>Cadastrar</button>
  </fieldset> 
</form>
